/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(180deg); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.grid{
  display: grid;
  gap: 6.4rem;
}

.grid:not(:last-child){
  margin-bottom: 9.6rem;
}

.grid--2-cols{
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols{
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v{
  align-items: center;
}


.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInRight 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading_tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 100%;
  transition: 0.3s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
.feature-box--icon{
  width: 80%;
  margin: 3rem 0;
}


.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(
 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(
 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(
 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header__logo {
    height: 6rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/background.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .section-features > * {
    transform: skewY(7deg); }
.section-features h1{
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 4rem;
}
.section-features h2{
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
}
.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem; }
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9999;
  max-width: 114rem;
  margin: 0 auto;
}
.header-nav ul{
  display: flex;
  list-style: none;
  gap: 5rem;
  font-size: 2rem;
}
nav a:link, nav a:visited{
  color: white;
  text-decoration: none;
}
nav a:hover, nav a:active{
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}


/* Mobile */
.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav{
  font-size: 4.8rem;
  color: white;
}

.icon-mobile-nav[name="close-outline"]{
  display: none;
}

.section-about-us{
  background-color: #f7f7f7;
  padding: 35rem 0 10rem 0 ;
  margin-top: -25vh;
}

.section-about-us-text p:not(:last-child){
  margin-bottom: 3rem;
}


footer{
  text-align: center;
  padding: 4rem 0;
  background-color: #082512;
  color: white;
}

.section-about-flex{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.section-contact-us{
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/background.jpg);
  padding: 10rem 0;
}

.contact-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  border-bottom:1px solid white;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}

.contact-form label{
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: white;
}

.contact-form div:nth-child(4){
  grid-column: 1 / -1;
}

.contact-form input, .contact-form select, .contact-form textarea{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: .5rem;
  /*border-radius: 9px;*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
  font-size: 1.5rem;
  color: #aaa;
}

.contact-form *:focus{
  outline: none;
  /*outline: 4px dotted #e67e22;*/
  /*outline-offset: 8px;*/
  box-shadow: 0 0 0 0.8rem rgba(229, 247, 226, 0.7);
}

.btn, .btn:link, .btn:visited{
  display: inline-block;
  background-color: #28b485;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;

  /*     Only Necessary for .btn */
  font-family: inherit;
  cursor: pointer;
  border: none;

  transition: all .3s;
}

.section-contact-us .heading-secondary{
  color: white;
}

.btn--form{
  background-color: #7ed56f;
  color: white;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover{
  background-color: #28b485;
}

.down-arrow{
  display: none;
  color: #7ed56f;
}

.display-none{
  display: none!important;
}
.header-nav-att{
  padding: 10px 20px;
  /*background-color: #333333;*/
  background-color: #082512;
}


/* Sticky Navigation */

.sticky .header-nav{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8.8rem;
  padding-top: 0;
  padding-bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.95);*/
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, .03);
  z-index: 999999;
  margin: 0 auto;
}

.sticky{
  margin-top: 8.8rem;
}

.contact-us-tel{
  color: white;
  font-size: 3.4rem;
}
.contact-us-tel a{
  transition: all .4s;
}

.contact-us-tel a:link,
.contact-us-tel a:visited{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.contact-us-tel a:hover,
.contact-us-tel a:active{
  color: #1B112C;
}



/* Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html{
    font-size: 56%;
  }
  body{
    /*font-size: 1rem;*/
    padding: 0;
  }
  .header{
    height: 70vh;
  }
  .grid{
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  .heading-primary--main{
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .heading-primary--sub{
    font-size: 1.5rem;
  }

  .section-about-flex{
    flex-direction: column;
    gap: 4rem;
  }
  .feature-box{
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.05);
  }
  .feature-box:hover, .feature-box:active{
    transform: none;
  }

  .row [class^="col-"]{
    float: none;
  }
  .row .col-1-of-4{
    width: 100%;
  }
  .section-about-us{
    font-size: 1.6rem;
  }

  .section-about-us .row{
    padding: 0 3rem;
  }

  .section-features .row, .section-about .row{
    padding: 3rem;
    gap: 3rem;
  }
  .section-contact-us .row{
    padding: 0 3rem;
  }
  .contact-form{
    grid-template-columns: 1fr;
  }

  .down-arrow{
    display: block;
  }
  .down-arrow svg{
    height: 10rem;
    margin: 0 0 -5rem 0;
  }
/* Mobile Navigation */
.btn-mobile-nav{
  display: block;
}

  .header-nav ul{
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .main-nav{
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatex(100%);
    transition: all 0.5s ease-in;

    /* 1) Hide it visually */
    opacity: 0;

    /*  2) Hide it unaccessable to mouse and keyboard   */
    pointer-events: none;

    /*  3) Hide it from screen readers */
    visibility: hidden;

  }

  .nav-open .main-nav{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translatex(0);

  }

  .nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
  }

  /*.main-nav-list li{*/
  /*  background-color: white;*/
  /*}*/
  nav a:link, nav a:visited {
    display: inline-block;
    color: #232323;
    text-decoration: none;
    background-color: white;
    padding: 1rem 3rem;
    width: 100%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
  .section-features{
    padding: 10rem 0;
  }

  .section-about-us {
    margin-top: -10rem;
    padding: 20rem 0 10rem 0;
  }
}